#server tr > td:first-child {
	font-weight:bold;
	width:200px;
}
#cluster tr > td:first-child {
	font-weight:bold;
	width:200px;
}

#server_multi tr > td:first-child {
	font-weight:bold;
}
#cluster_multi tr > td:first-child {
	font-weight:bold;
}

td.backbutton {
	text-align:right;
}

.status-label {
	min-width:100px !important;
}
