<form action="[% h.url_for('/cluster/query') %]" method="post">
	<fieldset>
		<div class="input-group">
			<input style="width:400px;" class="col-md-2" name="q" type="text" id="q" placeholder="Name/Description" value="[% q IF q %]">
			<button class="btn" type="submit">Search</button>
		</div>
		<br/>
		<label class="checkbox">
			<input name="disposed" type="checkbox" id="disposed" [% "checked" IF disposed %] value="yes"/>Show disposed clusters
		</label>
	</fieldset>
</form>
