	</div>
</div>
<!--
	<div class="debug">
		<h1>c hash</h1>
		<pre>
			[% h.dumper(c) %]
		</pre>
	</div>

	<div class="debug">
		<h1>h hash</h1>
		<pre>
			[% h.dumper(h) %]
		</pre>
	</div>
-->
</body>
</html>
