	</div>
</div>
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright &copy; 2012-2013 Oliver Falk / Linux Kernel Austria
</div>
<!--
	<div class="debug">
		<h1>c hash</h1>
		<pre>
			[% h.dumper(c) %]
		</pre>
	</div>

	<div class="debug">
		<h1>h hash</h1>
		<pre>
			[% h.dumper(h) %]
		</pre>
	</div>
-->
</body>
</html>
