<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>[% html_title || c.app.config.name %]</title>
	[% PROCESS 'common_htmlhead.tt' %]
</head>
<body>
[% FOREACH mes = c.stash.message %]
	[% x = c.humane_stash(mes) %]
[% END %]
	<div id="wrap">
		[% PROCESS 'top_menu.tt' %]
		<div class="container">
